<h3>Welcome <%=@host.username%>!!</h3>
<h4>These are all your events</h4>
<ul>
<%@events.each do |event|%>
<a href="/events/<%=event.slug%>"><li>Date: <%=event.date%> Event: <%=event.event_name %></li></a>
<%end%>
</ul>
