<div class='nav_links_left'><a href="/signup"> Sign-Up</a></div>
<h3>Please Login</h3> 
<div id='login_form'><form action="/events" method="post">
Username: <input type="text" name="username"> </br>
Password:&nbsp <input type="password" name="password"> </br>
</br>
<input type="submit" value="Enter!">
</form>
</div>
