/*--------NAV ----------------*/
.nav{
  background-color: #86A9E5;
  padding: 10px;
  border-radius: 10px;
}

#nav_links_right{
  float: right;
}

.nav a{
  align-content: right;
  color: white;
  padding: 0px 5px;
  font-size: 1.2em;
  border: 1px solid #D2D3D4;
  border-radius: 10px;
}

.nav a:visted{
  color: white;
}

.nav a:hover {
  color: black;
}

/*-----LINKS--------*/
a{
  color: #848383;
}

a:visited{
  color: #606060;
}

/*-----HEADER--------*/
#header{
  border-radius: 10px;
  background: #70C7F9;

}

#header h1{
  font-family: 'Philosopher', sans-serif;
}

h1{
  padding-left: 10px;
  margin: 0;
}



body{

font-family: 'Gudea', sans-serif;
}
.buttons{
  float: left;
  align-items: baseline;
}

#login_form{
 margin-top:  10px;
}
