<div class='nav'><a href='/events'> Your Events</a><a href='/events/show_all'> All
Events</a><a href='/logout'>Logout</a></div>

<%@events.each do |event|%>
<a href="/events/<%=event.slug%>">Event: <%=event.name%></br>
Date: <%=event.date%></br></a>
Hosted by:<%=event.host.username%></br>
</br>
<%end%>
