Enter the event information below.
<form action="" method="post">
  Event:<input type="text" name='event_name'></br>
  Location: <input type="text" name='location'></br>
  Date:<input type="datetime-local" name="date"></br>
  <input type="submit" value="Create Event">
</form>
