<div class='nav'><a href='/events'> Your Events</a><a href='/events/show_all'> All
Events</a><a href='/logout'>Logout</a></div>

<h4>Enter the event information below.</h4>
<form action="/events/create_event" method="post">
  Date:(mm/dd/yy)<input type="text" name="date"></br>
  Event:<input type="text" name='name'></br>
  Venue: <%@venues.each do |venue|%>
  <%=venue.name%><input type="radio" name="venue" value="<%=venue.id%>"id ="<%=venue.id%>">
  <%end%></br>


  If the venue isn't listed above please add it
  Name: <input type="text" name="new_venue">
  Location: <input type="text" name="location"></br>
  <input type="submit" value="Create Event">
</form>
