<div class='nav'><a href='/events'> Your Events</a><a href='/events/show_all'> All
Events</a><a href='/logout'>Logout</a></div>

<form action="/edit_event/<%=@event.slug%>"method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">
  <input type="text" name="name"value="<%=@event.name%>">
  <input type="text" name="date"value="<%=@event.date%>">
  <input type="submit" value="Edit">
