<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" type="text/html" href="../app/css/style.css"/>
    <title></title>
  </head>
  <body>

    <h1> Event Organizer without CSS</h1>

  <h2> The place to organize all your.... that's right, EVENTS!</h2>
    <%=yield%>
  </body>
</html>
