<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="/style.css"/>
      <link href="https://fonts.googleapis.com/css?family=Gudea|Philosopher"  rel="stylesheet">
    <title>Event Organizer</title>
  </head>
  <body>
    <div id="header">
    <h1> Event Organizer</h1>
  </div>
    <%=yield%>
  </body>
</html>
